.modal_mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: opacity 0.3s ease;
}

.modal_container {
  position: relative;
  width: 300px;
  margin: auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal_header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal_body {
  margin: 20px 0;
}
.modal_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.modal_close{

  right: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  cursor: pointer;
  user-select: none;
}
.modal_default_button {
  float: right;
}

.modal-enter-from {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
